{% extends 'base.html' %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <ul>
        <h1>All Posts</h1>
        {% for post in post_list %}
        <div class="card box">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
              <p class="card-text">{{ post.body|truncatechars:350 }}</p> {# There are more filters out there! #}
              <a href="{% url 'detail' post.id %}" class="card-link btn btn-primary btn-md active">Read More</a>
            </div>
        </div>
        <br />
    {% endfor %}
    </ul>
{% endblock content %}
