{% extends 'base.html' %}

{% block title %}
    Change Passwsord
{% endblock %}

{% block content %}
    <h1>Password Change</h1>
    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form method='POST'>
        {% csrf_token %}
        <!-- as paragraph tags that render all the form fields with their respctive lables -->
        {{ form.as_p }} 
        <input type="submit" value="Change" class="btn btn-success btn-lg" id="change-pass">
    </form>
{% endblock content %}
