h1 {
    color: red;
}
h2{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}

.box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#id_title,
#id_subtitle,
#id_author,
#id_body, 
#create-post {
    padding: 5px;
    margin: 0px auto;
    width: 100%;
    border-radius: 5px;
}

#confirm-del{
    padding: 10px;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
}
#confirm-del-btn {
    font-size: xx-large;
    padding: 5px;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
    width: 250px;
}

#id_post-container{
    width: 50%;
    align-items: center;
    text-align: center;
}

#update-post-btn{
    width: 100%;

}